<div class="container">
    <br>
    <h1>Lista de Productos</h1>
    <hr>
    <br>
    <table class="table table-striped-columns">
        <thead>
            <th>Nro</th>
            <th>Código</th>
            <th>Nombre</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i=index">
                <td>{{i+1}}</td>
                <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                <td><button type="button" class="btn btn-primary" (click)="showDetail(product.id)">Ver</button></td>
            </tr>
        </tbody>
    </table>
</div>