<br>
<br>
<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Código: {{product.code}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"> Nombre: {{product.name}}</h6>
            <p class="card-text">Descripción: {{product.description}}</p>
            <p class="card-text">Stock: {{product.stock}}</p>
        </div>
    </div>
</div>
<hr>
<button type="button" class="btn btn-info" routerLink="/products">Regresar a la Lista</button>